body{
	background-color: #f4f4f4;
	font-family:  'Montserrat', Courier New;
	color: #1d113b;
}

#container{
	text-align: center;
	padding-bottom: 36px;
}
#text_container{
	height: 250px;
	padding: 80px 50px;
}
h1{
	font-size: 40px;
	line-height: 2;

}
#form{
	height: 88px;
}
input{
	border-radius: 3px;
	height: 38px;
	box-shadow: none;
	border:none;
}
#content{
	width: 358px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 3px;
	margin-bottom: 50px;
	font-size: 16px;

}
#content:focus{
	border: 1px solid #7fbf4d;
}
#button{
	width: 100px;
	background: #7fbf4d;
	color:#fff;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	cursor: pointer;
	vertical-align: middle;
}
#button:active{
	background-color: #66a039;
}
footer{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 40px;
}

#links_container {
	text-align: center;
	background-color: #C4C4BC;
	padding: 10px 0;
}
a{
	color: #66a039;
	text-decoration: none;
	margin: 0 10px;
}